<div class="header__top">
  <div class="container">
    <div class="header__top-inner toggle-menu-1">
      <img
        src="./assets/icon/subway-menu.svg"
        alt=""
        class="header__top-toggle-icon d-none d-md-block"
      />

      <div class="header__top-left">
        <a href="#" class="header__link">Về chúng tôi</a>
      </div>
      <div class="header__top-right">
        <div class="help-center">
          <p href="#" class="help-center__toggle">
            Trung tâm hỗ trợ
            <img
              src="./assets/icon/arrow-down-white.svg"
              alt=""
              class="header__arrow-icon"
            />
          </p>
          <ul class="help-center__dropdown">
            <li class="help-center__item">
              <a href="#">Câu hỏi thường gặp (FAQ)</a>
            </li>
            <li class="help-center__item"><a href="#">Hướng dẫn sử dụng</a></li>
            <li class="help-center__item">
              <a href="#">Chính sách & Điều khoản</a>
            </li>
            <li class="help-center__item"><a href="#">Liên hệ</a></li>
          </ul>
        </div>

        <div class="header__lang">
          <span class="header__lang-current">
            ENG
            <img
              src="./assets/icon/arrow-down-white.svg"
              alt=""
              class="header__arrow-icon"
            />
          </span>

          <ul class="header__lang-list">
            <li class="header__lang-item">VN</li>
            <li class="header__lang-item">ENG</li>
          </ul>
        </div>

        <a href="#" class="header__link header__account">
          <img src="./assets/icon/user-icon.svg" alt="" /> Tài khoản
        </a>
      </div>
    </div>
  </div>
</div>
<div class="header__top-2 d-md-none">
  <div class="container">
    <div class="header__top-inner-2">
      <!-- Logo -->
      <div class="logo">
        <a href="/" class="logo">
          <div class="logo_icon"></div>
          <p class="logo__text"><span class="logo__text-1">Nap</span>Tien</p>
        </a>
      </div>
      <!-- Search Bar  -->
      <div class="search-bar">
        <div class="search-bar__left">
          <a class="search-bar__dropdown">
            All categories
            <img
              src="./assets/icon/arrow-down-grey.svg"
              class="search__narrow-icon"
              alt=""
            />
          </a>
          <ul class="categories__options-list">
            <li class="categories__option">Game Cards</li>
            <li class="categories__option">Payment Cards</li>
            <li class="categories__option">Gift Cards</li>
            <li class="categories__option">Game Console</li>
            <li class="categories__option">Game CD-Key</li>

            <li class="categories__option">Tools</li>
            <li class="categories__option">Software</li>
          </ul>
        </div>
        <div class="search-bar__separate"></div>
        <div class="search-bar__right">
          <input type="text" class="search-bar__input" placeholder="Search" />
          <button class="search-bar__button">
            <img
              src="./assets/icon/search.svg"
              alt=""
              class="search-bar__icon"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header__top-3">
  <div class="container">
    <div class="header__top-3-inner">
      <div class="toggle-menu-2">
        <button class="js-toggle d-none d-md-block" toggle-target="#navbar">
          <img src="./assets/icon/toggle-menu.svg" class="toggle-menu-icon-2
          alt="" />
        </button>
        <nav class="navbar hide" id="navbar">
          <div class="navbar__top--mobile d-none d-md-flex">
            <!-- Logo -->
            <div class="logo logo-mobile">
              <a href="/" class="logo">
                <div class="logo_icon"></div>
                <p class="logo__text">
                  <span class="logo__text-1">Nap</span>Tien
                </p>
              </a>
            </div>

            <!-- Close button  -->
            <btn class="navbar__top-btn js-toggle" toggle-target="#navbar">
              <img src="./assets/icon/close-X.btn.svg" alt="" />
            </btn>
          </div>

          <!-- Separate  -->
          <div class="logo__separate d-none d-md-block"></div>

          <!-- Navbar List  -->
          <ul class="navbar__list js-dropdown-list">
            <li>
              <a href="#!" class="navbar__link">Trang chủ</a>
            </li>
            <li class="navbar__item">
              <a href="#!" class="navbar__link">
                Thẻ điện thoại
                <img
                  src="./assets/icon/arrow-down-grey.svg"
                  alt=""
                  class="navbar__narrow"
                />
              </a>
              <div class="dropdown">
                <div class="dropdown__inner">
                  <div class="top-menu">
                    <div class="top-menu__main">
                      <ul class="top-menu__list">
                        <!-- Gift card -->
                        <li class="top-menu__item top-menu__item--active">
                          <a href="#!" class="top-menu__link">
                            Gift card
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Nike Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Adidas Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Amazon Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >eBay Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Walmart Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Target Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >BestBuy Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >H&M Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Zara Gift Card</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Starbucks Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Google Play Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Spotify Premium</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Netflix Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Disney+ Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Hulu Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Paramount+ Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple Music</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Roblox Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Fortnite V-Bucks</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >PlayStation Network</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Xbox Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Nintendo eShop</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Blizzard Balance</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >EA Play Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Razer Gold</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Steam Wallet</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- Wallet gift card -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            Wallet gift card
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >PayPal Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Visa Prepaid</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Mastercard Prepaid</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >American Express Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Google Wallet</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple Wallet</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Cash App Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Venmo Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Revolut Gift Card</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Paysafecard</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Skrill Prepaid</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Neteller Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Wise (TransferWise)</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Square Wallet</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >AliPay Prepaid</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WeChat Pay Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >UnionPay Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Stripe Prepaid</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Amazon Pay</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Samsung Pay Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Huawei Wallet</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >LINE Pay Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >GrabPay Wallet</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Momo Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >ZaloPay Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >ShopeePay Wallet</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >GPay Card</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- iTunes Gift card -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            iTunes Gift card
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $10</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $15</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $20</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $25</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $30</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $50</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $75</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $100</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iTunes $200</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >US iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >UK iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >EU iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >JP iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >KR iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >CN iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >VN iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >AUS iTunes Gift</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >CAN iTunes Gift</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Apple Music 1 tháng</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple Music 3 tháng</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple Music 6 tháng</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple Music 12 tháng</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iCloud 50GB</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iCloud 200GB</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >iCloud 2TB</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple Arcade</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple One</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- WTFast time card -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            WTFast time card
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 1 Day</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 3 Days</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 7 Days</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 15 Days</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 30 Days</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 60 Days</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 90 Days</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 180 Days</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast 365 Days</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Basic</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Standard</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Premium</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Pro</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Elite</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Family</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Gamer</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Esport</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Ultimate</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Trial 7d</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Trial 14d</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Trial 30d</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Gift Code</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Discount 10%</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Discount 20%</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Discount 30%</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Referral</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WTFast Partner</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- WAFTS -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            WAFTS
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Basic</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Standard</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Premium</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Plus</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Ultra</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Family</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Business</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Enterprise</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Ultimate</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Trial 7d</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Trial 14d</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Trial 30d</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Gift Code</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Voucher</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Promo</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Discount 10%</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Discount 20%</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Referral</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Gold</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Silver</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Bronze</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Student</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Teacher</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS VIP</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Special</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Partner</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >WAFTS Exclusive</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <div class="navbar__overlay d-md-none"></div>
            <li class="navbar__item">
              <a href="#!" class="navbar__link"
                >Nạp game
                <img
                  src="./assets/icon/arrow-down-grey.svg"
                  alt=""
                  class="navbar__narrow"
                />
              </a>
              <div class="dropdown">
                <div class="dropdown__inner">
                  <div class="top-menu">
                    <div class="top-menu__main">
                      <ul class="top-menu__list">
                        <!-- Thẻ game quốc tế -->
                        <li class="top-menu__item top-menu__item--active">
                          <a href="#!" class="top-menu__link">
                            Thẻ game quốc tế
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Steam Wallet</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Google Play Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >App Store & iTunes</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >PlayStation Network</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Xbox Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Nintendo eShop</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Razer Gold</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Amazon Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Blizzard Balance</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >EA Play Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Netflix Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Spotify Premium</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Discord Nitro</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Twitch Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Epic Games Store</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Hulu Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apple Music</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Crunchyroll Premium</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Disney+ Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Paramount+</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Roblox Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Fortnite V-Bucks</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >League of Legends RP</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >World of Warcraft Time</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Google One</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Microsoft Office 365</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Adobe Creative Cloud</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- Thẻ game Việt Nam -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            Thẻ game Việt Nam
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Garena</a
                                >
                                <a href="#!" class="sub-menu__link">Thẻ Zing</a>
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Vcoin</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Sohagame</a
                                >
                                <a href="#!" class="sub-menu__link">Thẻ VGP</a>
                                <a href="#!" class="sub-menu__link">Thẻ Gosu</a>
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Funtap</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ OnCash</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Scoin</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Appota</a
                                >
                                <a href="#!" class="sub-menu__link">Thẻ BIT</a>
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Mobay</a
                                >
                                <a href="#!" class="sub-menu__link">Thẻ VTC</a>
                                <a href="#!" class="sub-menu__link">Thẻ KUL</a>
                                <a href="#!" class="sub-menu__link">Thẻ GATE</a>
                                <a href="#!" class="sub-menu__link">Thẻ MEGA</a>
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Playfun</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ 3Q Củ Hành</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link">Thẻ VNG</a>
                                <a href="#!" class="sub-menu__link">Thẻ GTV</a>
                                <a href="#!" class="sub-menu__link">Thẻ Vega</a>
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ GameBank</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ Goplay</a
                                >
                                <a href="#!" class="sub-menu__link">Thẻ CMN</a>
                                <a href="#!" class="sub-menu__link">Thẻ Iwin</a>
                                <a href="#!" class="sub-menu__link"
                                  >Thẻ SohaCoin</a
                                >
                                <a href="#!" class="sub-menu__link">Thẻ 4399</a>
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- Game mobile -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            Game mobile
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Liên Quân Mobile</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Free Fire</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >PUBG Mobile</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Tốc Chiến</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Genshin Impact</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Mobile Legends</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Call of Duty Mobile</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Dragon Nest 2</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Audition Mobile</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Ngọc Rồng Online</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Gunny Origin</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Yugioh Duel Links</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Lords Mobile</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >AFK Arena</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Rise of Kingdoms</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >State of Survival</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Summoners War</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Clash of Clans</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Clash Royale</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Pokémon GO</a
                                >
                                <a href="#!" class="sub-menu__link">Among Us</a>
                                <a href="#!" class="sub-menu__link"
                                  >Candy Crush Saga</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Angry Birds</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Subway Surfers</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Temple Run</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Fruit Ninja</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Flappy Bird</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- Game PC -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            Game PC / Online
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link">Valorant</a>
                                <a href="#!" class="sub-menu__link"
                                  >Liên Minh Huyền Thoại</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >CrossFire</a
                                >
                                <a href="#!" class="sub-menu__link">DOTA 2</a>
                                <a href="#!" class="sub-menu__link">CS:GO</a>
                                <a href="#!" class="sub-menu__link"
                                  >Overwatch 2</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Apex Legends</a
                                >
                                <a href="#!" class="sub-menu__link">Warframe</a>
                                <a href="#!" class="sub-menu__link">Lost Ark</a>
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >World of Warcraft</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Final Fantasy XIV</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Starcraft II</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Diablo IV</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Elden Ring</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Monster Hunter Rise</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >The Division 2</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Battlefield 2042</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Call of Duty: MW3</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Minecraft</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >GTA V Online</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >ARK: Survival</a
                                >
                                <a href="#!" class="sub-menu__link">Rust</a>
                                <a href="#!" class="sub-menu__link">DayZ</a>
                                <a href="#!" class="sub-menu__link"
                                  >Phasmophobia</a
                                >
                                <a href="#!" class="sub-menu__link">Terraria</a>
                                <a href="#!" class="sub-menu__link"
                                  >Don't Starve Together</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Among Us (PC)</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>

                        <!-- Khuyến mãi -->
                        <li class="top-menu__item">
                          <a href="#!" class="top-menu__link">
                            Khuyến mãi
                            <img
                              src="./assets/icon/menu-narow.svg"
                              class="top-menu__narrow"
                              alt=""
                            />
                          </a>
                          <div class="sub-menu">
                            <ul class="sub-menu__list">
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Flash Sale</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Giảm giá thẻ quốc tế</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Giảm giá thẻ Việt Nam</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Khuyến mãi Mobile Game</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Khuyến mãi PC Game</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Giảm giá Gift Card</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Combo nạp game</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Ưu đãi VIP</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Săn Sale cuối tuần</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Event tháng 10</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event Halloween</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event Giáng Sinh</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event Tết</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event Black Friday</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event Cyber Monday</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event 20/10</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event 8/3</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Event Trung Thu</a
                                >
                              </li>
                              <li class="sub-menu__col">
                                <a href="#!" class="sub-menu__link"
                                  >Mini Game</a
                                >
                                <a href="#!" class="sub-menu__link">Giveaway</a>
                                <a href="#!" class="sub-menu__link"
                                  >Nạp nhận quà</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Điểm thưởng</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Voucher nạp game</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Thử thách xếp hạng</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Lucky Spin</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Ưu đãi khách hàng mới</a
                                >
                                <a href="#!" class="sub-menu__link"
                                  >Ưu đãi khách hàng cũ</a
                                >
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <div class="navbar__overlay d-md-none"></div>
          </ul>
        </nav>

        <a href="tel:19200 10800" class="navbar__hotline mla">
          <img
            src="./assets/icon/hotline-icon.svg"
            alt=""
            class="navbar__hotline-icon"
          />
          Hotline: 19200 10800</a
        >

        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <div class="mla d-none d-md-flex top-mobile-icon">
          <img src="./assets/icon/search2.svg" class="mobile-search-icon" />
          <img
            src="./assets/icon/person-icon2.svg"
            class="mobile-search-icon"
          />
        </div>
      </div>
    </div>
  </div>
</div>
