@font-face {
    font-family: 'Kimberley';
    src: url('kimberley/Kimberley-Black.woff2') format('woff2'),
        url('kimberley/Kimberley-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

