@font-face {
    font-family: 'SVN-Marujo';
    src: url('marujo/SVN-Marujo.woff2') format('woff2'),
        url('marujo/SVN-Marujo.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

